@import url('https://fonts.googleapis.com/css?family=Cantora+One%27');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Ovo');
body {
  font-family: 'Arima Madurai', monospace;
}

h1 {
  font-family: 'Cantora One', sans-serif;
}

a {
  cursor: pointer;
}