.card .card {
  border: 0px;
  background-color: rgba(0,0,0,0.3);
}

.card-header {
  border: 0px;
  background-color: #FFA500;
  &:hover {
    background-color: darken(#FFA500, 10);
  }
}

.card i {
  background-color: white;
  width: 70px;
}

.card a {
  text-decoration: none;
}